<table class="table ">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Capacity</th>
            <th scope="col">City</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="adminMatchDiv">
        <tr *ngFor="let staduim of staduims">
            <td>{{staduim._id}}</td>
            <td>{{staduim.name}}</td>
            <td>{{staduim.capacity}}</td>
            <td>{{staduim.city}}</td>
            <td>
                <button class="btn btn-info" (click)="displayStaduim()">Display</button>
                <button class="btn btn-warning" (click)="editStaduim(staduim._id)">Edit</button>
                <button class="btn btn-danger" (click)="deleteStaduim(staduim._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>